/* Checkbox group class */
.ppvx_checkbox-group___3-6-22 {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  text-align: left;
}
/* Checkbox base class */
.ppvx_checkbox___3-6-22 {
  position: relative;
  text-align: left;
}
.ppvx_checkbox-group___3-6-22 .ppvx_checkbox___3-6-22 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
/* Checkbox label class */
.ppvx_checkbox__label___3-6-22 {
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  /* stylelint-disable comment-empty-line-before */
  cursor: pointer;
  /* stylelint-enable comment-empty-line-before */
  display: inline-block;
  padding-left: calc(1.5rem + 0.75rem);
  font-family: "PayPalSansBig-Regular", Helvetica Neue, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  min-height: 1.5rem;
  position: relative;
  /* Adding class prefix to workaround build changes in pp-react. Note: Do not rely on this, will be removed in next major release */
}
.ppvx_checkbox__label___3-6-22:before {
  content: '';
  font-size: 1.125rem;
}
.ppvx_checkbox__label___3-6-22:before,
.ppvx_checkbox__label___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22 {
  border-radius: 0.25rem;
  border: 0.0625rem solid #909697;
  box-sizing: border-box;
  height: 1.5rem;
  left: 0;
  position: absolute;
  width: 1.5rem;
  font-family: 'PPUI-Icons';
  line-height: 1.3;
  text-align: center;
  background-color: #ffffff;
}
.ppvx_checkbox__label___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ppvx_checkbox__label___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22 .ppvx_checkbox__check-icon___3-6-22 {
  display: none;
}
.ppvx_checkbox__label___3-6-22 .ppvx_icon___3-6-22,
.ppvx_checkbox__label___3-6-22 > [class^='ppvx_icon___'],
.ppvx_checkbox__label___3-6-22 .ppvx_checkbox__label-icon___3-6-22 {
  color: #0070ba;
  position: relative;
  top: 0.125rem;
  margin-left: 0.75rem;
}
/* Checkbox input class */
.ppvx_checkbox__input___3-6-22 {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label___3-6-22:before {
  background-color: #0070ba;
  border-color: #0070ba;
  color: #ffffff;
  content: '\E90D';
}
.ppvx_checkbox__input___3-6-22:focus + .ppvx_checkbox__label___3-6-22:after {
  content: '';
  position: absolute;
  top: -0.0625rem;
  left: -0.0625rem;
  border: 0.125rem solid #0070ba;
  box-shadow: 0 0 0 0.25rem #bfdbee;
  border-radius: 0.25rem;
  text-indent: -0.0625rem;
  width: calc(1.5rem - -0.125rem);
  height: calc(1.5rem - -0.125rem);
  pointer-events: none;
}
.ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label--with-svg-icon___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22 {
  background-color: #0070ba;
  border-color: #0070ba;
  color: #ffffff;
}
.ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label--with-svg-icon___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22 .ppvx_checkbox__check-icon___3-6-22 {
  display: inline;
}
/* Error style for checkbox */
.ppvx_field--error___3-6-22 .ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label___3-6-22:before,
.ppvx_field--error___3-6-22 .ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label--with-svg-icon___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22 {
  border: 0.125rem solid #d20000;
}
.ppvx_field--error___3-6-22 .ppvx_checkbox__label___3-6-22:before,
.ppvx_field--error___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22 {
  border: 0.125rem solid #d20000;
  line-height: 1.1;
}
.ppvx_checkbox-group__label___3-6-22 {
  font-family: "PayPalSansBig-Regular", Helvetica Neue, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  display: block;
  color: #2c2e2f;
  margin-bottom: 0.25rem;
  /* Adding class prefix to workaround build changes in pp-react. Note: Do not rely on this, will be removed in next major release */
}
.ppvx_checkbox-group__label___3-6-22 .ppvx_icon___3-6-22,
.ppvx_checkbox-group__label___3-6-22 > [class^='ppvx_icon___'],
.ppvx_checkbox-group__label___3-6-22 .ppvx_checkbox__label-icon___3-6-22 {
  color: #0070ba;
  position: relative;
  top: 0.125rem;
  margin-left: 0.75rem;
}
.ppvx_checkbox__helper-text___3-6-22,
.ppvx_checkbox-group__helper-text___3-6-22 {
  font-family: "PayPalSansBig-Regular", Helvetica Neue, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin: 0.25rem 0 0;
  list-style: none;
  color: #687173;
}
.ppvx_checkbox__helper-text___3-6-22 {
  padding-left: calc(1.5rem + 0.75rem);
}
.ppvx_checkbox__label___3-6-22 .ppvx_checkbox__helper-text___3-6-22 {
  padding-left: 0;
}
.ppvx_checkbox-group__error-text___3-6-22,
.ppvx_checkbox__error-text___3-6-22 {
  font-family: "PayPalSansBig-Regular", Helvetica Neue, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  display: flex;
  margin: 0.25rem 0 0;
  color: #2c2e2f;
}
.ppvx_checkbox-group__error-text___3-6-22:before,
.ppvx_checkbox__error-text___3-6-22:before {
  content: '\E91A';
}
.ppvx_checkbox-group__error-text___3-6-22:before,
.ppvx_checkbox__error-text___3-6-22:before {
  /* stylelint-disable declaration-no-important */
  /* using !important to prevent issues with browser extensions that change fonts */
  font-family: 'PPUI-Icons' !important;
  /* stylelint-enable declaration-no-important */
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  font-size: 1.125rem;
}
.ppvx_checkbox-group__error-text___3-6-22:before,
.ppvx_checkbox__error-text___3-6-22:before,
.ppvx_checkbox-group__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22,
.ppvx_checkbox__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22 {
  color: #d20000;
  margin-right: 0.75rem;
}
@media screen and (-ms-high-contrast: active) {
  :focus + .ppvx_checkbox__label___3-6-22:before,
  :focus + .ppvx_checkbox__label--with-svg-icon___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22 {
    outline: 0.15rem solid highlight;
  }
}
/* Styles for RTL Support */
[dir='rtl'] .ppvx_checkbox-group___3-6-22,
.ppvx_checkbox-group___3-6-22[dir='rtl'] {
  text-align: right;
}
[dir='rtl'] .ppvx_checkbox___3-6-22,
.ppvx_checkbox___3-6-22[dir='rtl'] {
  text-align: right;
}
[dir='rtl'] .ppvx_checkbox__label___3-6-22 {
  padding-right: calc(1.5rem + 0.75rem);
  padding-left: 0;
  /* Adding class prefix to workaround build changes in pp-react. Note: Do not rely on this, will be removed in next major release */
}
[dir='rtl'] .ppvx_checkbox__label___3-6-22:before,
[dir='rtl'] .ppvx_checkbox__label___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22 {
  right: 0;
  left: auto;
}
[dir='rtl'] .ppvx_checkbox__label___3-6-22 .ppvx_icon___3-6-22,
[dir='rtl'] .ppvx_checkbox__label___3-6-22 > [class^='ppvx_icon___'],
[dir='rtl'] .ppvx_checkbox__label___3-6-22 .ppvx_checkbox__label-icon___3-6-22 {
  margin-right: 0.75rem;
  margin-left: 0;
}
[dir='rtl'] .ppvx_checkbox__label___3-6-22 .ppvx_checkbox__helper-text___3-6-22 {
  padding-right: 0;
}
[dir='rtl'] .ppvx_checkbox__error-text___3-6-22:before,
[dir='rtl'] .ppvx_checkbox-group__error-text___3-6-22:before,
[dir='rtl'] .ppvx_checkbox__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22,
[dir='rtl'] .ppvx_checkbox-group__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22 {
  margin-left: 0.75rem;
  margin-right: 0;
}
[dir='rtl'] .ppvx_checkbox__input___3-6-22:focus + .ppvx_checkbox__label___3-6-22:after {
  left: 0;
  right: -0.0625rem;
}
[dir='rtl'] .ppvx_checkbox-group__label___3-6-22 {
  /* Adding class prefix to workaround build changes in pp-react. Note: Do not rely on this, will be removed in next major release */
}
[dir='rtl'] .ppvx_checkbox-group__label___3-6-22 .ppvx_icon___3-6-22,
[dir='rtl'] .ppvx_checkbox-group__label___3-6-22 > [class^='ppvx_icon___'],
[dir='rtl'] .ppvx_checkbox-group__label___3-6-22 .ppvx_checkbox__label-icon___3-6-22 {
  margin-right: 0.75rem;
  margin-left: 0;
}
[dir='rtl'] .ppvx_checkbox__helper-text___3-6-22 {
  padding-right: calc(1.5rem + 0.75rem);
  padding-left: 0;
}
.ppvx_checkbox__label--with-svg-icon___3-6-22:before,
.ppvx_checkbox-group__error-text--with-svg-icon___3-6-22:before,
.ppvx_checkbox__error-text--with-svg-icon___3-6-22:before {
  display: none;
}
.ppvx--v2___3-6-22 .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22),
.ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) {
  margin-bottom: 0;
}
.ppvx--v2___3-6-22 .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__label___3-6-22,
.ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__label___3-6-22 {
  color: #0c0c0d;
  font-family: "PayPalSansBig-Regular", Helvetica Neue, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: normal;
}
.ppvx--v2___3-6-22 .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__label___3-6-22:before,
.ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__label___3-6-22:before,
.ppvx--v2___3-6-22 .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__label___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22,
.ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__label___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22 {
  border-color: #909191;
}
.ppvx--v2___3-6-22 .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label___3-6-22:before,
.ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label___3-6-22:before,
.ppvx--v2___3-6-22 .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label--with-svg-icon___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22,
.ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label--with-svg-icon___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22 {
  border-color: #1040c1;
  background-color: #1040c1;
}
.ppvx--v2___3-6-22 .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__input___3-6-22:focus + .ppvx_checkbox__label___3-6-22:after,
.ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__input___3-6-22:focus + .ppvx_checkbox__label___3-6-22:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: none;
  box-shadow: 0 0 0 0.375rem rgba(16, 114, 235, 0.16);
  border-radius: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
}
.ppvx--v2___3-6-22 .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__label___3-6-22,
.ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__label___3-6-22 {
  padding-bottom: 0.625rem;
}
.ppvx--v2___3-6-22 .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label___3-6-22:before,
.ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label___3-6-22:before,
.ppvx--v2___3-6-22 .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label--with-svg-icon___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22,
.ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label--with-svg-icon___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22 {
  border-color: #d9360b;
}
.ppvx--v2___3-6-22 .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__input___3-6-22:focus + .ppvx_checkbox__label___3-6-22:after,
.ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__input___3-6-22:focus + .ppvx_checkbox__label___3-6-22:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 0.1875rem solid #d9360b;
  box-shadow: 0 0 0 0.375rem rgba(217, 54, 11, 0.16);
  border-radius: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
}
.ppvx--v2___3-6-22 .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__label___3-6-22:before,
.ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__label___3-6-22:before,
.ppvx--v2___3-6-22 .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22,
.ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22 {
  border-color: #d9360b;
}
.ppvx--v2___3-6-22 .ppvx_checkbox-group___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__label___3-6-22,
.ppvx_checkbox-group___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__label___3-6-22 {
  color: #515354;
  font-family: "PayPalSansBig-Regular", Helvetica Neue, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: normal;
  padding: 0.625rem 0;
  margin-bottom: 0;
}
.ppvx--v2___3-6-22 .ppvx_checkbox-group___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox___3-6-22,
.ppvx_checkbox-group___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox___3-6-22 {
  margin-top: 0.25rem;
  padding: 0.625rem 0;
}
.ppvx--v2___3-6-22 .ppvx_checkbox-group___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label___3-6-22:before,
.ppvx_checkbox-group___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label___3-6-22:before,
.ppvx--v2___3-6-22 .ppvx_checkbox-group___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label--with-svg-icon___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22,
.ppvx_checkbox-group___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__input___3-6-22:checked + .ppvx_checkbox__label--with-svg-icon___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22 {
  border-color: #d9360b;
}
.ppvx--v2___3-6-22 .ppvx_checkbox-group___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__input___3-6-22:focus + .ppvx_checkbox__label___3-6-22:after,
.ppvx_checkbox-group___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__input___3-6-22:focus + .ppvx_checkbox__label___3-6-22:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 0.1875rem solid #d9360b;
  box-shadow: 0 0 0 0.375rem rgba(217, 54, 11, 0.16);
  border-radius: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
}
.ppvx--v2___3-6-22 .ppvx_checkbox-group___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__label___3-6-22:before,
.ppvx_checkbox-group___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__label___3-6-22:before,
.ppvx--v2___3-6-22 .ppvx_checkbox-group___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22,
.ppvx_checkbox-group___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22).ppvx_field--error___3-6-22 .ppvx_checkbox__check-icon-container___3-6-22 {
  border-color: #d9360b;
}
.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__helper-text___3-6-22,
.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__helper-text___3-6-22,
.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__error-text___3-6-22,
.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__error-text___3-6-22 {
  color: #515354;
  font-family: "PayPalSansBig-Regular", Helvetica Neue, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: normal;
  margin: 0;
}
.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__error-text___3-6-22,
.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__error-text___3-6-22 {
  align-items: center;
}
.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__error-text___3-6-22:before,
.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__error-text___3-6-22:before,
.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22,
.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22 {
  color: #d9360b;
  margin-right: 0.25rem;
}
[dir='rtl'] .ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__error-text___3-6-22:before,
.ppvx--v2___3-6-22 [dir='rtl'] .ppvx_checkbox-group___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__error-text___3-6-22:before,
.ppvx--v2___3-6-22 [dir='rtl'] .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__error-text___3-6-22:before,
[dir='rtl'] .ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__error-text___3-6-22:before,
[dir='rtl'] .ppvx_checkbox-group___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__error-text___3-6-22:before,
[dir='rtl'] .ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__error-text___3-6-22:before,
.ppvx--v2___3-6-22 [dir='rtl'] .ppvx_checkbox-group___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__error-text___3-6-22:before,
.ppvx--v2___3-6-22 [dir='rtl'] .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__error-text___3-6-22:before,
[dir='rtl'] .ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__error-text___3-6-22:before,
[dir='rtl'] .ppvx_checkbox-group___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__error-text___3-6-22:before,
[dir='rtl'] .ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22,
.ppvx--v2___3-6-22 [dir='rtl'] .ppvx_checkbox-group___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22,
.ppvx--v2___3-6-22 [dir='rtl'] .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22,
[dir='rtl'] .ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22,
[dir='rtl'] .ppvx_checkbox-group___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox-group__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22,
[dir='rtl'] .ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22,
.ppvx--v2___3-6-22 [dir='rtl'] .ppvx_checkbox-group___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22,
.ppvx--v2___3-6-22 [dir='rtl'] .ppvx_checkbox___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22,
[dir='rtl'] .ppvx_checkbox___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22,
[dir='rtl'] .ppvx_checkbox-group___3-6-22.ppvx--v2___3-6-22:not(.ppvx--v1___3-6-22) .ppvx_checkbox__error-text___3-6-22 .ppvx_checkbox__error-icon___3-6-22 {
  margin-left: 0.25rem;
  margin-right: 0;
}

/* Icon base class */
@font-face {
  font-family: 'PPUI-Icons';
  src: url('https://www.paypalobjects.com/paypal-ui/icons/font_icon/0-0-29/PPUI-Icons.woff2') format('woff2'), url('https://www.paypalobjects.com/paypal-ui/icons/font_icon/0-0-29/PPUI-Icons.woff') format('woff'), url('https://www.paypalobjects.com/paypal-ui/icons/font_icon/0-0-29/PPUI-Icons.eot?#iefix') format('embedded-opentype'), url('https://www.paypalobjects.com/paypal-ui/icons/font_icon/0-0-29/PPUI-Icons.svg') format('svg');
  font-style: normal;
  font-weight: 500;
}
.ppvxIconFont___6-8-0 {
  /* stylelint-disable declaration-no-important */
  /* using !important to prevent issues with browser extensions that change fonts */
  font-family: 'PPUI-Icons' !important;
  /* stylelint-enable declaration-no-important */
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.ppvx_icon___6-8-0 {
  /* stylelint-disable declaration-no-important */
  /* using !important to prevent issues with browser extensions that change fonts */
  font-family: 'PPUI-Icons' !important;
  /* stylelint-enable declaration-no-important */
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
}
.ppvx_icon--size_xs___6-8-0 {
  font-size: 1.125rem;
}
.ppvx_icon--size_sm___6-8-0 {
  font-size: 1.5rem;
}
.ppvx_icon--size_md___6-8-0 {
  font-size: 1.875rem;
}
.ppvx_icon--size_lg___6-8-0 {
  font-size: 2.25rem;
}
.ppvx_icon--size_xl___6-8-0 {
  font-size: 2.5rem;
}
.ppvx_icon--size_xl2___6-8-0 {
  font-size: 3rem;
}
.ppvx_icon--svg___6-8-0 {
  speak: none;
  line-height: 1;
  display: inline-block;
}
.ppvx_icon--svg___6-8-0 img,
.ppvx_icon--svg___6-8-0 svg {
  width: 1em;
  height: 1em;
  display: block;
}
/* Icon list */
.ppvx_icon-pix___6-8-0:before {
  content: '\E91D';
}
.ppvx_icon-izettle-pos___6-8-0:before {
  content: '\E9F8';
}
.ppvx_icon-pay-online___6-8-0:before {
  content: '\E9F9';
}
.ppvx_icon-shipping-send___6-8-0:before {
  content: '\E9AC';
}
.ppvx_icon-shipping-pack___6-8-0:before {
  content: '\E9AD';
}
.ppvx_icon-shipping-label___6-8-0:before {
  content: '\E9AE';
}
.ppvx_icon-emoji___6-8-0:before {
  content: '\E9A8';
}
.ppvx_icon-honey___6-8-0:before {
  content: '\E9A7';
}
.ppvx_icon-chevron-up-alt___6-8-0:before {
  content: '\E9A6';
}
.ppvx_icon-chevron-down-alt___6-8-0:before {
  content: '\E9A3';
}
.ppvx_icon-loyalty-card___6-8-0:before {
  content: '\E94C';
}
.ppvx_icon-logout___6-8-0:before {
  content: '\E9A5';
}
.ppvx_icon-barcode-scan___6-8-0:before {
  content: '\E9A1';
}
.ppvx_icon-block___6-8-0:before {
  content: '\E9A2';
}
.ppvx_icon-tip-jar___6-8-0:before {
  content: '\E9A4';
}
.ppvx_icon-theme___6-8-0:before {
  content: '\E9A0';
}
.ppvx_icon-help-center___6-8-0:before {
  content: '\E99E';
}
.ppvx_icon-duplicate___6-8-0:before {
  content: '\E99F';
}
.ppvx_icon-close-alt___6-8-0:before {
  content: '\E99C';
}
.ppvx_icon-crypto___6-8-0:before {
  content: '\E99D';
}
.ppvx_icon-security-code___6-8-0:before {
  content: '\E99B';
}
.ppvx_icon-share-link___6-8-0:before {
  content: '\E99A';
}
.ppvx_icon-share-email___6-8-0:before {
  content: '\E98F';
}
.ppvx_icon-share-facebook___6-8-0:before {
  content: '\E990';
}
.ppvx_icon-share-instagram___6-8-0:before {
  content: '\E991';
}
.ppvx_icon-share-line___6-8-0:before {
  content: '\E992';
}
.ppvx_icon-share-linkedin___6-8-0:before {
  content: '\E993';
}
.ppvx_icon-share-messenger___6-8-0:before {
  content: '\E994';
}
.ppvx_icon-share-mobile___6-8-0:before {
  content: '\E995';
}
.ppvx_icon-share-snapchat___6-8-0:before {
  content: '\E996';
}
.ppvx_icon-share-twitter___6-8-0:before {
  content: '\E997';
}
.ppvx_icon-share-wechat___6-8-0:before {
  content: '\E998';
}
.ppvx_icon-share-whatsapp___6-8-0:before {
  content: '\E999';
}
.ppvx_icon-message-center___6-8-0:before {
  content: '\E98E';
}
.ppvx_icon-direct-deposit___6-8-0:before {
  content: '\E98D';
}
.ppvx_icon-arrow-up___6-8-0:before {
  content: '\E98C';
}
.ppvx_icon-verified-alt___6-8-0:before {
  content: '\E98B';
}
.ppvx_icon-working-capital___6-8-0:before {
  content: '\E988';
}
.ppvx_icon-code___6-8-0:before {
  content: '\E989';
}
.ppvx_icon-tools___6-8-0:before {
  content: '\E98A';
}
.ppvx_icon-preferred-selected___6-8-0:before {
  content: '\E986';
}
.ppvx_icon-preferred___6-8-0:before {
  content: '\E987';
}
.ppvx_icon-external___6-8-0:before {
  content: '\E985';
}
.ppvx_icon-purchase-protection-alt___6-8-0:before {
  content: '\E984';
}
.ppvx_icon-favorite-selected___6-8-0:before {
  content: '\E981';
}
.ppvx_icon-favorite___6-8-0:before {
  content: '\E982';
}
.ppvx_icon-resolution___6-8-0:before {
  content: '\E983';
}
.ppvx_icon-disaster-relief___6-8-0:before {
  content: '\E97B';
}
.ppvx_icon-add-payment-method___6-8-0:before {
  content: '\E97C';
}
.ppvx_icon-arrow-down___6-8-0:before {
  content: '\E97D';
}
.ppvx_icon-credit-debit-cards___6-8-0:before {
  content: '\E97E';
}
.ppvx_icon-activity___6-8-0:before {
  content: '\E97F';
}
.ppvx_icon-refund___6-8-0:before {
  content: '\E980';
}
.ppvx_icon-auto-top-up___6-8-0:before {
  content: '\E979';
}
.ppvx_icon-world___6-8-0:before {
  content: '\E97A';
}
.ppvx_icon-money-delivery___6-8-0:before {
  content: '\E975';
}
.ppvx_icon-face-id___6-8-0:before {
  content: '\E96E';
}
.ppvx_icon-special-financing___6-8-0:before {
  content: '\E96F';
}
.ppvx_icon-achievement___6-8-0:before {
  content: '\E970';
}
.ppvx_icon-add-image___6-8-0:before {
  content: '\E971';
}
.ppvx_icon-copy-to-clipboard___6-8-0:before {
  content: '\E972';
}
.ppvx_icon-decline___6-8-0:before {
  content: '\E973';
}
.ppvx_icon-location___6-8-0:before {
  content: '\E974';
}
.ppvx_icon-number-pad___6-8-0:before {
  content: '\E976';
}
.ppvx_icon-share___6-8-0:before {
  content: '\E977';
}
.ppvx_icon-split-bill___6-8-0:before {
  content: '\E978';
}
.ppvx_icon-overflow___6-8-0:before {
  content: '\E96D';
}
.ppvx_icon-calculator___6-8-0:before {
  content: '\E96A';
}
.ppvx_icon-subtract___6-8-0:before {
  content: '\E96C';
}
.ppvx_icon-sort-ascending-alt___6-8-0:before {
  content: '\E969';
}
.ppvx_icon-sort-descending-alt___6-8-0:before {
  content: '\E96B';
}
.ppvx_icon-microphone___6-8-0:before {
  content: '\E968';
}
.ppvx_icon-attach___6-8-0:before {
  content: '\E966';
}
.ppvx_icon-light-bulb___6-8-0:before {
  content: '\E967';
}
.ppvx_icon-download___6-8-0:before {
  content: '\E964';
}
.ppvx_icon-upload___6-8-0:before {
  content: '\E965';
}
.ppvx_icon-fingerprint___6-8-0:before {
  content: '\E963';
}
.ppvx_icon-rocket___6-8-0:before {
  content: '\E962';
}
.ppvx_icon-clear-alt___6-8-0:before {
  content: '\E95A';
}
.ppvx_icon-cash___6-8-0:before {
  content: '\E95B';
}
.ppvx_icon-contact-info___6-8-0:before {
  content: '\E95C';
}
.ppvx_icon-home___6-8-0:before {
  content: '\E95D';
}
.ppvx_icon-insights___6-8-0:before {
  content: '\E95E';
}
.ppvx_icon-invoice___6-8-0:before {
  content: '\E95F';
}
.ppvx_icon-shipping___6-8-0:before {
  content: '\E960';
}
.ppvx_icon-transfer___6-8-0:before {
  content: '\E961';
}
.ppvx_icon-withdraw-cash___6-8-0:before {
  content: '\E959';
}
.ppvx_icon-add-cash___6-8-0:before {
  content: '\E952';
}
.ppvx_icon-pp-cash-card___6-8-0:before {
  content: '\E953';
}
.ppvx_icon-gift___6-8-0:before {
  content: '\E950';
}
.ppvx_icon-lock___6-8-0:before {
  content: '\E951';
}
.ppvx_icon-money-pools___6-8-0:before {
  content: '\E954';
}
.ppvx_icon-photo___6-8-0:before {
  content: '\E955';
}
.ppvx_icon-print___6-8-0:before {
  content: '\E956';
}
.ppvx_icon-trash___6-8-0:before {
  content: '\E957';
}
.ppvx_icon-scan-to-send___6-8-0:before {
  content: '\E958';
}
.ppvx_icon-acorns___6-8-0:before {
  content: '\E93D';
}
.ppvx_icon-cash-check___6-8-0:before {
  content: '\E93E';
}
.ppvx_icon-donate___6-8-0:before {
  content: '\E948';
}
.ppvx_icon-goals___6-8-0:before {
  content: '\E949';
}
.ppvx_icon-offers-rewards___6-8-0:before {
  content: '\E94A';
}
.ppvx_icon-order-ahead___6-8-0:before {
  content: '\E94B';
}
.ppvx_icon-request___6-8-0:before {
  content: '\E94D';
}
.ppvx_icon-send___6-8-0:before {
  content: '\E94E';
}
.ppvx_icon-transfer-money___6-8-0:before {
  content: '\E94F';
}
.ppvx_icon-add___6-8-0:before {
  content: '\E900';
}
.ppvx_icon-arrow-left___6-8-0:before {
  content: '\E901';
}
.ppvx_icon-arrow-right___6-8-0:before {
  content: '\E902';
}
.ppvx_icon-warning___6-8-0:before {
  content: '\E903';
}
.ppvx_icon-bank___6-8-0:before {
  content: '\E904';
}
.ppvx_icon-browser___6-8-0:before {
  content: '\E905';
}
.ppvx_icon-calendar-paused___6-8-0:before {
  content: '\E906';
}
.ppvx_icon-calendar___6-8-0:before {
  content: '\E907';
}
.ppvx_icon-camera-add___6-8-0:before {
  content: '\E908';
}
.ppvx_icon-camera___6-8-0:before {
  content: '\E909';
}
.ppvx_icon-card___6-8-0:before {
  content: '\E90A';
}
.ppvx_icon-cart___6-8-0:before {
  content: '\E90B';
}
.ppvx_icon-chat___6-8-0:before {
  content: '\E90C';
}
.ppvx_icon-check-alt___6-8-0:before {
  content: '\E90D';
}
.ppvx_icon-check-circle-alt___6-8-0:before {
  content: '\E90E';
}
.ppvx_icon-check-circle___6-8-0:before {
  content: '\E90F';
}
.ppvx_icon-check___6-8-0:before {
  content: '\E910';
}
.ppvx_icon-chevron-circle-down___6-8-0:before {
  content: '\E911';
}
.ppvx_icon-chevron-circle-up___6-8-0:before {
  content: '\E912';
}
.ppvx_icon-chevron-down___6-8-0:before {
  content: '\E913';
}
.ppvx_icon-chevron-left___6-8-0:before {
  content: '\E914';
}
.ppvx_icon-chevron-right-alt___6-8-0:before {
  content: '\E915';
}
.ppvx_icon-chevron-right___6-8-0:before {
  content: '\E916';
}
.ppvx_icon-chevron-up___6-8-0:before {
  content: '\E917';
}
.ppvx_icon-clear___6-8-0:before {
  content: '\E918';
}
.ppvx_icon-close___6-8-0:before {
  content: '\E919';
}
.ppvx_icon-critical-alt___6-8-0:before {
  content: '\E91A';
}
.ppvx_icon-desktop___6-8-0:before {
  content: '\E91B';
}
.ppvx_icon-edit___6-8-0:before {
  content: '\E91C';
}
.ppvx_icon-email___6-8-0:before {
  content: '\E91E';
}
.ppvx_icon-error___6-8-0:before {
  content: '\E91F';
}
.ppvx_icon-external-alt___6-8-0:before {
  content: '\E920';
}
.ppvx_icon-faq___6-8-0:before {
  content: '\E921';
}
.ppvx_icon-filter___6-8-0:before {
  content: '\E922';
}
.ppvx_icon-heart___6-8-0:before {
  content: '\E923';
}
.ppvx_icon-hide-alt___6-8-0:before {
  content: '\E924';
}
.ppvx_icon-info-alt___6-8-0:before {
  content: '\E925';
}
.ppvx_icon-info___6-8-0:before {
  content: '\E926';
}
.ppvx_icon-laptop___6-8-0:before {
  content: '\E927';
}
.ppvx_icon-link___6-8-0:before {
  content: '\E928';
}
.ppvx_icon-list-detailed___6-8-0:before {
  content: '\E929';
}
.ppvx_icon-list-simple___6-8-0:before {
  content: '\E92A';
}
.ppvx_icon-lock-alt___6-8-0:before {
  content: '\E92B';
}
.ppvx_icon-logo-paypal___6-8-0:before {
  content: '\E92C';
}
.ppvx_icon-menu___6-8-0:before {
  content: '\E92D';
}
.ppvx_icon-mobile___6-8-0:before {
  content: '\E92E';
}
.ppvx_icon-notification___6-8-0:before {
  content: '\E92F';
}
.ppvx_icon-pending-paused___6-8-0:before {
  content: '\E930';
}
.ppvx_icon-pending___6-8-0:before {
  content: '\E931';
}
.ppvx_icon-phone___6-8-0:before {
  content: '\E932';
}
.ppvx_icon-play-sm___6-8-0:before {
  content: '\E933';
}
.ppvx_icon-play___6-8-0:before {
  content: '\E934';
}
.ppvx_icon-question-alt___6-8-0:before {
  content: '\E935';
}
.ppvx_icon-recurring-paused___6-8-0:before {
  content: '\E936';
}
.ppvx_icon-recurring___6-8-0:before {
  content: '\E937';
}
.ppvx_icon-refresh___6-8-0:before {
  content: '\E938';
}
.ppvx_icon-search___6-8-0:before {
  content: '\E939';
}
.ppvx_icon-settings___6-8-0:before {
  content: '\E93A';
}
.ppvx_icon-shield___6-8-0:before {
  content: '\E93B';
}
.ppvx_icon-show-alt___6-8-0:before {
  content: '\E93C';
}
.ppvx_icon-star-alt___6-8-0:before {
  content: '\E93F';
}
.ppvx_icon-store___6-8-0:before {
  content: '\E940';
}
.ppvx_icon-support___6-8-0:before {
  content: '\E941';
}
.ppvx_icon-trash-alt___6-8-0:before {
  content: '\E942';
}
.ppvx_icon-unlock-alt___6-8-0:before {
  content: '\E943';
}
.ppvx_icon-user-add___6-8-0:before {
  content: '\E944';
}
.ppvx_icon-user___6-8-0:before {
  content: '\E945';
}
.ppvx_icon-wallet___6-8-0:before {
  content: '\E946';
}
.ppvx_icon-warning-alt___6-8-0:before {
  content: '\E947';
}
/* stylelint-enable */


/*# sourceMappingURL=default~guest~request-preview~universal-preview.css.map*/